
      <h3>GAMES</h3>
{{#each this}}
{{#each this}}
<hr>
<div class="card text-white bg-primary mb-3">
  <div class="card-header">
    Name: {{Name}}
  </div>
  <div class="card-body">
    <p class="card-title">Description: {{Description}}</p>
    <p class="card-title">Time Max: {{Time_Max}}</p>
  </div>
</div>
{{/each}}
{{/each}}
