<div>
<h3> Add or Delete TV Shows From: <label id="titleName"{{this.name}}></label></h3>
<hr>
<p></p>
<form>
  <div class="form-group">
    <label for="inputTeam">TV Show :</label>
    <input type="text"  class="form-control" id="inputtvshow" aria-describedby="emailHelp" placeholder="E.g. Catan ">
    <small id="teamHelp" class="form-text text-muted">Enter the TvShow's Name</small>
  </div>
    <div class="col-sm-10">
      <button id="add" type="button" class="btn btn-success">Add</button>
      <button id="delete" type="button" class="btn btn-danger">Delete</button>
    </div>
</form>
<hr>
<p></p>

<div id="results"></div>

</div>