
<hr>
<p></p>
<div class="jumbotron">
  <h1 class="display-4">Search Games of an Group:</h1>
  <p class="lead">Insert the Group and values of max and min playtime</p>
  <label for="inputDescription">Group nยบ :</label>
  <input type="text" class="form-control" name="group_id"id="group_id">
  <label for="inputDescription">Max Playtime :</label>
  <input type="text" class="form-control" name="max" id="max">
  <label for="inputDescription">Min Playtime :</label>
  <input type="text" class="form-control" name="min" id="min">
  <hr class="my-4">
  <a class="btn btn-light" id="search" role="button">Search</a>
</div>
<hr>
<p></p>

<div id="results"></div>