<h1>Edit your group</h1>
<hr>
<p></p>
<div class="form-group row">
    <div class="col-sm-10">
      <a class="btn btn-primary" href="#editGroup"role="button">Edit Group</a>
      <a class="btn btn-primary" href="#add_deltvshows"role="button">Manage tvshows in Group</a>
    </div>
</div>
<hr>
<p></p>
<div id="results"></div>