 <hr>
<p></p>
<div class="jumbotron">
  <h1 class="display-4">CIBORG</h1>
  <p class="lead">This is a simple app that lets you search Game and organize them in your group.</p>
  <hr class="my-4">
  <p>If you want to learn more click the button below</p>
  <a class="btn btn-primary btn-lg" href="https://github.com/Vagu13/PI-1920i-LI51N-G10/wiki" role="button">Learn more</a>
</div> 


{{!-- <script id="welcome" type="text/x-handlebars-template">
   <div class="jumbotron">
      <h1 class="display-4">CIBORG</h1>
  <p class="lead">This is a simple app that lets you search Game and organize them in your group.</p>
  <hr class="my-4">
  <p>If you want to learn more click the button below</p>
  <a class="btn btn-primary btn-lg" href="https://github.com/Vagu13/PI-1920i-LI51N-G10/wiki" role="button">Learn more</a>
   </div>
</script> --}}